* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container_wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    background-color: rgb(62 191 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px rgb(0 0 0 / 10%), 0 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.border {
    border: solid 2px;
}

.logo {
    margin: 2rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.links {
    margin: 2rem;
}

.button {
    margin: 2rem;
    border-radius: 1rem;
    padding: 5px 8px;
    border-color: #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
}

.header_container {
    width: 100%;
    height: 50.25rem;
    background-image: url(./images/desktop/image-header.jpg);
}

.creatives {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 2rem;
}

.contain {
    display: flex;
    align-items: center;
}

.max_width {
    max-width: 1440px;
    margin: auto;
}

.graphics {
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

.photography {
    background-image: url(./images/desktop/image-photography.jpg);

}

.background {
    background-size: cover;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.transform {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2rem;
    text-align: center;
    margin: auto;
}

.transform_img {
    width: 1129px
}

.review {
    display: flex;
    flex-direction: column;
}

.review_img {
    margin: 0.5rem auto;
}

.review_txt {
    margin: 0.5rem auto;
}

.review_name {
    margin: 0.5rem auto;
}

.review_description {
    margin: 0.5rem auto;
}

.wrap {
    background-color: hsl(168, 34%, 41%);
}

.sunny {
    padding-top: 0.5rem;
    text-align: center;
}

.link {
    text-align: center;
    margin: 2rem;
}

.social {
    padding-bottom: 2rem;
    text-align: center;
}